/* ---------- настройки шаблона ---------- */

#l-container {
    max-width: 100%;
} /* для активации boxed версии шаблона 100% заменить на 1200px */
#content {
    float: left;
}
#sidebar {
    float: right;
} /* для перемещения колонки на левую сторону, поменять местами float: right; и float: left;  */
body {
    background: #f6f6f6;
}
::selection {
    background: #00a4e2;
    color: #ffffff;
}
a,
a:link,
a:visited,
a:active,
.top-left span a:hover,
.top-right span a:hover,
.list-small li:before,
.serch:hover .fa,
.menu-icon:hover .fa,
#menu .uMenuRoot > li > a:hover,
#menu .uMenuRoot > li > a.uMenuItemA,
.search-close span:hover,
.s-2,
#service .col4 .fa,
#service h4,
#blog .col4 h5 a:hover,
.worknews h5 a:hover,
.p-details span i,
.f-contact .fa,
#go-top:hover,
.e-details-right .fa,
.calMdayA,
#top .fa,
.block .navcat:before,
a.navcat:hover,
.buy-now .about > h1 > b,
.userinfo .info ul li em {
	color: #000000;
}
a:hover {
    color: #212121;
}
#l-container input[type="button"],
#l-container input[type="submit"],
#l-container input[type="reset"],
.flex-control-paging li a:hover,
.flex-control-nav .flex-active,
#service .col4:hover .fa,
.work a.ulightbox span,
.button.b-color,
.f-soc a,
.swchItemA span,
.swchItem span,
.swchItemA1 span,
.swchItem1 span,
.calWday,
.calWdaySu,
.calWdaySe,
.gTableTop,
.switchActive,
.next span,
.prev span,
.navigation span,
.navigation a:hover,
th.workday,
.userinfo span[onclick*="javascript"],
.login-form button {
    background: #00a4e2;
}
.nicescroll-rails > div,
.tagcl a:hover,
.login-menu li:last-child a {
    background: #e83d3d !important;
}
.p-cats-list {
    border-top: 1px solid #e83d3d;
}
.buy-now {
    border-top: 3px solid #e83d3d;
}
.userinfo span[onclick*="javascript"]:after {
    border-left-color: #e83d3d !important;
}
.search-close span:hover,
.fotorama__thumb-border,
.login-menu li a:hover,
.login-menu li:nth-child(2) a {
    border-color: #e83d3d !important;
}
#service .col4 .fa,
.tagcl a,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #e83d3d;
}
a.rev-arrow:hover {
    border-color: #e83d3d !important;
    color: #e83d3d !important;
}
a.rev-arrow:hover i,
.e-title a:hover,
.userinfo .info ul li span,
.contacts a,
.logo:hover,
#dropmenudiv a:hover {
    color: #e83d3d !important;
}
@media screen and (min-width: 940px) {
    #menu .uMenuRoot > li > a.uMenuItemA,
    #menu .uMenuRoot > li > a:hover,
    #menu .uMenuRoot > .uWithSubmenu:hover > a {
        box-shadow: inset 0 3px 0 0 #e83d3d;
    }
    #menu .uWithSubmenu ul {
        border-top: 1px solid #e83d3d;
    }
}
@media screen and (max-width: 939px) {
    #menu {
        box-shadow: inset 0 3px 0 0 #e83d3d, 0 5px 10px rgba(0, 0, 0, 0.15);
    }
}

/* --------------------------------------- */
